body{
        position: absolute;
        top: 34%;
        left: 57.5%;
        margin:auto;
        transform: translate(-50%, -50%);
}


.searchbar{
margin-top: 4%;
margin-left: -25%;
font-size:14pt;
}

.button{
  font-weight:bold;
  margin-left: 4%;
  margin-right:  2%;
  margin-top:  2%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: .65em;
  background-color: rgba(0,0,0,.1);
  border: 1px solid #dcdcdc;
  font-size:small;
  font-family: Arial, sans-serif;
}

p{
  margin-left:10%;
  margin-top: 8%;
  display: inline-block;
  line-height: 28px;
  font-size: small;
  font-family: arial,sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.button:hover{
border: 1px solid #dddddd;
}
